* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all; 
}

.intro-container {
    position: relative; 
    width: 100%;
    height: 100vh; 
    overflow: hidden; 
}


.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}


.text {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white; 
    background: rgba(0, 0, 0, 0.3); 
}

.source {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 14px;
    font-weight: 300;
}

a {
    color: white;
}

.main-sentence {
    position: absolute;
    font-size: 28px; 
    font-weight: 700;
    line-height: 1.4;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); 
}


.main-sentence.left {
    top: 40%;
    left: 5%;
}

.main-sentence.right {
    bottom: 35%;
    right: 5%;
    text-align: right; 
}


.next-arrow {
    position: absolute; 
    bottom: 30px;
    right: 30px;
    display: block;
    width: 50px; 
    height: auto;
}

.next-arrow img {
    width: 100%; 
    filter: invert(1); 
}


@media screen and (min-width: 700px) {
    .source {
        font-size: 16px;
        top: 50px;
        left: 50px;
    }
    .main-sentence {
        font-size: 42px; 
    }
    .main-sentence.left {
        top: 45%;
        left: 15%;
    }
    .main-sentence.right {
        bottom: 35%;
        right: 15%;
    }
    .next-arrow {
        width: 70px;
        bottom: 50px;
        right: 50px;
    }
}