* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
}

body {
    color: white; 
    background-color: black; 
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.law-link {
    color: white;
}


.bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8); 
}

.title-text {
    position: absolute;
    top: 15%; 
    left: 5%; 
    font-size: 32px;
    font-weight: 700;
    line-height: 1.4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


.main-sentence {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80%; 
    text-align: center; 
    font-size: 24px;
    line-height: 1.6;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.source-text {
    position: absolute;
    bottom: 120px; 
    right: 30px;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    color: #ddd; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

a {
    color: white;
}

.next-arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    display: block;
    z-index: 10;
}

.next-arrow img {
    width: 100%;
    filter: invert(1); 
}

@media screen and (max-width: 700px) {
    .title-text {
        font-size: 24px;
        top: 10%;
        left: 5%;
    }
    .main-sentence {
        font-size: 18px;
        width: 90%;
    }
    .source-text {
        font-size: 14px;
        bottom: 90px;
    }
}